@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body{
	font-family: 'Open Sans', sans-serif;
	background: #EEEEEE;
}
#header{
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.6);
	left: 0;
	top: 0;
	z-index: 3;
}
#header-wrapper{
	max-width: 1090px;
	margin: 0 auto;
}
#logo{
	float: left;
}
#menu{
	float: right;
	line-height: 80px;
	color: #fff;
}
#menu li{
	float: left;
	list-style: none;
}
#menu li a{
	padding: 8px 16px 8px 16px;
	cursor: pointer;
}
#menu li a:hover{
	background: #0099CC;
}
#buscador {
	position: fixed;
	top: -220px;
	left: 0;
	right: 0;
	background: #FFF;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	z-index: 99;
}
#buscador .close-btn{
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	border-radius: 50%;
	background: #fcfcfc;
	padding: 10px 13px;
	border: none;
	position: absolute;
	top: -30px;
	left: 48.5%;
	font-weight: 600;
	color: #777;
	cursor: pointer;
}
#buscador .close-btn:hover{
	background:#EC3232;
	color:#fff;
}
#buscador .submit{
	display: none;
}

#buscador .texto {
	font-weight: 600;
	background: url("../img/search-ico.png") no-repeat left center #FCFCFC;
	width: 920px;
	margin: 0 auto;
	display: block;
	padding: 20px 20px 20px 100px;
	border: none;
	font-size: 60px;
	color: #E2E2E1;
	background-size: 60px;
}

#buscador .texto::-webkit-input-placeholder {color: #E2E2E1;}
#buscador .texto:-moz-placeholder{color: #E2E2E1;}
#buscador .texto::-moz-placeholder{color: #E2E2E1;}
#buscador .texto:-ms-input-placeholder{color: #E2E2E1;}

#buscador-overlay{
	display: none;
	top:0;bottom: 0;left: 0;right:0;
	background: #fff;
	position: fixed;
	z-index: 98;
	opacity: 0.6;
	
}
.blog-cinta{
	background-image: url("../img/pattern.jpg");
	height: 15px;
	opacity: 0.7;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
}
#sub-head{
	background: #303132;
	height:20px;
}
#sub-head .wrap-sub-head {
	color: #fff;
	max-width: 1090px;
	margin: 0 auto;
	height: 100%;
	line-height: 70px;
}

#content{
	max-width: 1090px;
	margin: 80px auto 80px auto;
	padding-left: 15px;
	padding-right:15px;
}

#main-content{
	float: left;
	max-width: 750px;
	width: 68.80733944954128%;
}
.owl-theme .owl-controls {
	margin-top: -23px !important;
	position: relative;
}

/* footer css*/
#footer{
	 -webkit-border-image:url(border.png) 30 30 round; /* Safari 3.1-5 */
    -o-border-image:url(border.png) 30 30 round; /* Opera 11-12.1 */
    border-image:url(border.png) 30 30 round;
	background: #303132;
	overflow: hidden;
}
#footer-wrapper{
	max-width: 1090px;
	margin: 0 auto;
}
#footer .primer-separador{
	padding-top: 10px;
	 float:left;
    position:relative;
    left:50%;
	
	
}
#footer .segundo-separador{
	margin-top:10px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 11px;
	margin-left: 20px;
}
#footer .segundo-separador img{
	margin-bottom: 10px;
}
#footer .segundo-separador span{
	font-style: italic;
}
#footer .segundo-separador a{
	text-decoration: none;
	color: #EC3232;
}


.sprite-facebook, .sprite-google, .sprite-twitter, .sprite-email{
	background-image: url("../img/social_sprite.png");
	background-repeat: no-repeat;
}
.social_icons{
	float:left;
    position:relative;
    left:-50%;
}
.social_icons li{
	border-right: 1px dotted #fff;
	border-style: ;
	padding: 5px 10px;
}

.social_icons .last{ border-right: 0px !important;}
.social_icons li, .social_icons li div{
	float: left;
}
.social_text{
	height: 38px;
	margin-top: 6px;
	margin-left:10px;
	color: #FFF;
	font-size: 12px;
}
.social_icons li:hover{
	cursor: pointer;
}
.social_icons li:hover .social_text{
	color: #EC3232;
}

.sprite-email{ background-position: 0 0; width: 39px; height: 38px; } 
.sprite-facebook{ background-position: -80px 0; width: 38px; height: 38px; } 
.sprite-google{ background-position: -158px 0; width: 38px; height: 38px; } 
.sprite-twitter{ background-position: -236px 0; width: 47px; height: 38px; } 

.social_icons li:hover .sprite-email{ background-position: -40px 0; width: 39px; height: 38px; } 
.social_icons li:hover .sprite-facebook{ background-position: -119px 0; width: 38px; height: 38px; } 
.social_icons li:hover .sprite-google{ background-position: -197px 0; width: 38px; height: 38px; } 
.social_icons li:hover .sprite-twitter{ background-position: -284px 0; width: 47px; height: 38px; } 


.clear{
	clear: both;
}

/* post css*/
.post-wrap{
	border-top: #C3C3C3 dotted 1px;
	padding-bottom: 20px;
}

.post-section{
	border-bottom: #C3C3C3 dotted 1px;
}
.post-wrap .post-title{
	float: left;
	width:-moz-calc(100% - 210px);
  	width:calc(100% - 210px);
  	padding-left: 10px;
}
.post-wrap .fecha-post{
	background: #EC3232;
	padding: 10px;
	color: #FFF;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
}
.post-wrap  .post-left{
	float: left;
	height: 100%;
	width: 200px;
}

.post-wrap .post-title h2{
	font-size: 40px;
	font-weight: 300;
	line-height: normal;
	cursor: pointer;
	color: #EC3232;
}
.post-wrap .post-title h2:hover{
	color: #2ECCFA;
}
.post-wrap .post-content{
	float: left;
	max-width: 550px;
	margin-top: 20px;
	font-size: 17px;
	line-height: normal;
	width:-moz-calc(100% - 210px);
  	width:calc(100% - 210px);
  	padding-left: 10px;
}
.post-wrap  .post-content-noimg{
	float: left;
	margin-top: 20px;
	font-size: 17px;
	line-height: normal;
	padding-left: 10px;
}

.post-wrap .post-img{
	margin-top: 20px;
	width: 200px;
	height: 192px;
	overflow: hidden;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 3px 3px -1px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 3px 3px -1px;
	box-shadow: rgba(0,0,0,0.3) 0px 4px 6px -1px;
}

.post-wrap .post-img img{
	/*width: 100%;*/
}



.post-wrap footer{
	float: right;
	/*border-right: #303132 dotted 1px;
	border-bottom: #303132 dotted 1px;*/
	margin-top: 15px;
	margin-bottom: 10px; 
}
.meta-post{
	min-height: 20px;
	margin-top: 20px;

}
.meta-post .ico-com, .meta-post .ico-tag{
	background-image: url("../img/meta_ico.png");
	background-repeat: no-repeat;
	padding-left: 30px;
	text-decoration: none;
	font-size: 15px;
	color: #303132;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.meta-post .ico-com:hover, .meta-post .ico-tag:hover{
	
	color:#2ECCFA;	
}
.meta-post .com-cant{
	display: block;
	position: absolute;
	top: -11px;
	left: 11px;
	background: #EC3232;
	padding: 3px;
	color: #fff;
	/* font-weight: normal; */
	border-radius: 25%;
	font-size: 11px;
}
.meta-post .ico-com{ background-position: 0 0; width: 25px; height: 20px; } 
.meta-post .ico-com:hover{ background-position: 0 -23px; width: 25px; height: 20px; } 
.meta-post .ico-tag{ background-position: 0 -46px; width: 24px; height: 20px; } 
.meta-post .ico-tag:hover{ background-position: 0 -69px; width: 24px; height: 20px; } 


/* Sidebar css */
.sidebar{
	width: 29.35779816513761%;
	margin-left: 1.834862385321101%;
	float: left;
	line-height: normal;
}

.sidebar-seccion{margin-bottom: 40px;}

.sidebar-title{
	color: #838383;
	text-transform: uppercase;
	font-weight: 800;
	border-bottom: 1px dotted #C3C3C3;
	padding-bottom: 10px;
	text-shadow: 0.1em 0.1em 0.05em #dadada;
}
.menusel-title{
	background: #404243;
	color: #fff;
	height: 51px;
}
.menusel-title li{
	float: left;
	width: 33.33%;
}
.menusel-title li a{
	display: block;
	height: 51px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}
.menusel-title li a:hover{background:#EC3232;}
.menusel-title .active a{background:#EC3232;}
.menusel-cont{margin-top: 20px;}
.menusel-cont li{display: none;}
.menusel-cont .active{display: block;}
.autor-img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	float: right;
}


#list-sidebar li{
	display: block;
	margin-bottom: 20px;
	text-align: justify;
	height: 60px;
	margin-bottom: 15px;
}
#list-sidebar li a{
	text-decoration: none;
	color:#EC3232;
}
#list-sidebar li a:hover{
	color:#2ECCFA
}
#list-sidebar li img{
	float: left;
	margin-right: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
}
/* Paginacion float: left;*/
#pg-content{
	margin-top: 50px;
}
.grupo-botones-pg {
	text-align: center;
}
.grupo-botones-pg .boton {
	margin: 0 10px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	font-weight: 600;
	background: #FCFCFC;
	border-bottom: 2px solid #dadada;
}
.grupo-botones-pg .boton a{
	text-decoration: none;
	color: #838383;
	font-size: 14px;
}
.grupo-botones-pg .boton{
	padding: 13px 18px;
}

.grupo-botones-pg .activo{
	color: #fff;
	background: #EC3232;
	-webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	border-bottom: 0;
}

.grupo-botones-pg .boton:hover {
	background: #EC3232;
	-webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	border-bottom: 0;

}
.grupo-botones-pg .boton:hover a {
	color: #fff
}
@media screen and (max-width: 800px)  {
	.sidebar,#main-content{
		float: none;
		width: 100%;
		margin: 0;
	}
	.post-section{margin-bottom: 20px;}
	#pg-content{margin-bottom: 50px;}
}

@media screen and (max-width: 650px)  {

	.post-wrap .post-title h2{
		font-size: 32px;
	}
	.post-wrap .post-content{
		font-size: 15px;
	}
}

@media screen and (max-width: 528px)  {
	.post-wrap  .post-left{
		float: none;
		width: 100%;
	}
	.post-wrap .post-title{
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;
	}

	.post-wrap .post-img{
		float: none;
		margin: 20px auto 0;
	}
	.post-wrap .post-content{
		width: 100%;
		float: none;
		padding: 0;
	}
	.post-wrap .fecha-post{
		width: 200px;
	}

}
